{% extends "layout.html" %}
{% block content%}

<div class="ui container">
    <div class="ui stretched one column grid" style="padding: 2.5em">
        <h1 class="ui huge header">  <i class="user icon"></i>Credits</h1>
        <div class="row">
            <div class="column">
                <!--Summary-->
                <div class="ui raised segments" style="padding: 1em">
                    <div class="ui segment">
                        <h2 class="ui header">Mentors</h2>

			<h3 class="ui dividing header">Muhammad Siddiqui</h3>
                        <p>Responsibilities: Front-end Development with SemanticUI, Back-end Development with
                            Flask,
                            Hosting on Heroku, Writing of Webpage Content</p>
                        <h2 class="ui header">Team Members</h2>

			<h3 class="ui dividing header">Prakhar Jain</h3>
                        <p><b>Responsibilities</b>: Implementation of the Web Application, Semantic UI Research and Implementation, Front-end Development with SemanticUI, Back-end Development with
                            Flask, Writing of Webpage Content, CSS Styling, designed majority NLP functions in the backend</p>

                        <h3 class="ui dividing header">Nikhil Rajput</h3>
                        <p> Responsibilities: Implementing PostgreSQL Database, Designing Mobile App, Hosting on Heroku</p>
                        <h3 class="ui dividing header">Parth Desai</h3>
                        <p>Responsibilities: </p>
                        <h3 class="ui dividing header">Nora Surani</h3>
                        <p> Responsibilities:  designed NLP functions in the backend </p>
                        <h3 class="ui dividing header">Parth Panchal</h3>
                        <p> Responsibilities:  designed NLP functions in the backend</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
