
{% extends "layout.html" %}
{% block content%}
<!--BODY CONTENTS-->



<div class="ui container">
    <div class="ui stretched one column grid" style="padding: 2.5em">
        <h1 class="ui huge header"><i class="user md icon"> </i>Evaluate Patient Story </i></h1>
        <!--Flask-->
        <div class="row">
            <div class="column">
                <div class="ui raised segments" style="padding: 1em">
                    <div class="ui segment">
                      
                        <form class="ui form" action="/nlp" method="post" >
                            <div class="field">
                                <label >Enter your story here:</label>
                                <textarea name="story" ></textarea>
                            </div>
                            <div class="field">
                                <label >Gender</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Gender</div>
                            <div class="menu">
                              <div class="item" data-value="M">Male</div>
                              <div class="item" data-value="F">Female</div>
                              <div class="item" data-value="O">Other</div>
                            </div>
                          </div>
                        </div>

                            <div class="field">
                                <label>Full name</label>
                                <input type="text" placeholder="Full Name" name="fullname">
                              </div>

                            <button class="fluid ui button" type="submit">Evaluate Story</button>
                            
                            
                           
                       
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.ui.dropdown').dropdown();
</script>
{% endblock content %}