{% extends "layout.html" %}
{% block content%}
<div class="ui container">
    <div class="ui stretched one column grid" style="padding: 2.5em">
        <h1 class="ui huge header"><i class="cogs icon"></i> How it works</h1>
        <div class="row">
            <div class="column">
                <!--Summary-->
                <div class="ui raised segments" style="padding: 1em">
                    <div class="ui segment">
                        <div class="ui small olive message">
                            <div class="header">
                              This page in under development
                            </div>
                          </div>
                    </br>

                        <p>Our NLP approach uses both text and sentence tokenization.
                        </br>
                        <p><b>No third party NLP libraries were used for the project and all pattern matching was done through Regex</b></p>
</br>
This helps us serve results instantly as opposed to using popular libraries like nltk or spacy, giving us the name InstantMD. We preserving sentence structure while also searching the tokenized words. We can then extract symptoms using a list of symptom keywords and the chief complaint by matching with the part of the anatomy that the patient is experiencing symptoms in. This is done through the anatomy keywords. Other factors are similarly extracted using keywords and rules designed by us and implemented through Regex.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}