<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Instant MD</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.css">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$('.dropdown').click(function(e){
  e.stopPropagation();
  $('.nav-dropdown').toggle();
});
$('html').click(function(){
  $('.nav-dropdown').hide();
})
$('#nav-toggle').on('click', function() {
  this.classList.toggle('active');
});
$("#nav-toggle").click(function() {
      $("nav ul").toggle();
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
</head>
<body>
    <!--Menu bar-->
    <section class="navigation">
    <div class="nav-container">
      <div class="brand" style="color:white"><i class="pills icon"></i>Instant MD</div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li></li>
          <li><a class="{% if active=='home' %}active{% endif %} item" href="{{ url_for('home') }}">
                <i class="home icon"></i> Home
            </a></li>
          <li><a class="{% if active=='evaluate' %}active{% endif %} item" href="{{ url_for('evaluate') }}">
                <i class="user md icon"></i> Evaluation
            </a></li>
          <li><a class="{% if active=='report' %}active{% endif %} item" href="{{ url_for('report') }}">
                <i class="file alternate icon"></i> Report
            </a></li>
         <li> <a class="{% if active=='database' %}active{% endif %} item" href="{{ url_for('database') }}">
                <i class="database icon"></i></i> Database
            </a></li>
            <li><a class="{% if active=='statistics' %}active{% endif %} item" href="{{ url_for('statistics') }}">
                <i class="chart line icon"></i> Statistics
            </a></li>
            <li><a class="{% if active=='howitworks' %}active{% endif %} item" href="{{ url_for('howitworks') }}">
                <i class="cogs icon"></i> How it works
            </a></li>
            <li><a class="{% if active=='credits' %}active{% endif %} item" href="{{ url_for('credits') }}">
                <i class="user icon"></i> Team
            </a></li>
        </ul>
      </nav>
    </div>
  </section>
    {% block content%}{% endblock%}

</body>
</html>
