{% extends "layout.html" %}
{% block content%}
<div class="ui container">
    <div class="ui stretched one column grid" style="padding: 2.5em">
        <h1 class="ui huge header"><i class="file alternate icon"></i> Report</h1>
        <!--Semantic UI-->
        <div class="row">
            <div class="column">
                <div class="ui raised segments" style="padding: 1em">
                    <div class="ui segment">
                      <table class="ui inverted grey table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th class="right aligned">Story</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{report_dict['Name']}}</td>
                            <td>{{report_dict['Gender']}}</td>
                            <td class="right aligned">{{report_dict['Story']}}</td>
                          </tr>
                        </tbody>
                      </table>

                      <table class="ui padded black table">
                        <thead>
                            <tr>
                            <th>Factor</th>
                            <th>Status</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Chief Complaint</td>
                            <td>Found</td>
                            <td>{{report_dict['Chief Complaint']}}</td>
                            </tr>
                            <tr>
                            <td>Symptoms</td>
                            <td>Found</td>
                            <td>{{report_dict['Symptoms']}}</td>
                            </tr>
                            <tr>
                            <td>Duration</td>
                            <td>Found</td>
                            <td>{{report_dict['Duration']}}</td>
                            </tr>
                            <tr>
                            <td>Severity</td>
                            <td>Found</td>
                            <td>{{report_dict['Severity']}}</td>
                            </tr>
                            <tr>
                            <td>Associated Symptom</td>
                            <td>{% if report_dict['Associated Symptom'] %}Found{% endif%}</td>
                            <td>{{report_dict['Associated Symptom']}}</td>
                            </tr>
                            <tr>
                            <td>Aggravating Factors</td>
                            <td></td>
                            <td>{{report_dict['Aggravating Factor']}}</td>
                            </tr>
                            <tr>
                            <td>Relieving Factors</td>
                            <td>Found</td>
                            <td>{{report_dict['Relieving Factor']}}</td>
                            </tr>
                        </tbody>
                        </table>

                        <form class="ui form" action="/add" method="post" >
                        <button class="fluid ui button" type="submit">Store in Database</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}