{% extends "layout.html" %}
{% block content%}
<div class="ui container">
    <!--Title-->
    <div class="ui stretched one column grid" style="padding: 2.5em">
        <h1 class="ui huge header"><i class="chart line icon"></i>  Statistics</h1>
        <div class="row">
            <div class="column">
                <div class="ui raised segments" style="padding: 1em">
                    <div class="ui segment">
                        Under Development
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}